.register {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.register__ttl {
    font-size: 20px;
    font-weight: 400;
    padding: 10vh 0 5vh;
}

.register__form {
    width: 40%;
    margin: 0 auto;
}

.form-area {
    width: 100%;
    font-size: 14px;
    color: #868484;
}

.form-area__name, 
.form-area__email, 
.form-area__password {
    width: 100%;
    height: 10vh;
    text-align: start;
}

.form-area__input {
    text-align: start;
    width: 100%;
    padding: 10px;
    border: 1px solid #868484;
    border-radius: 5px;
}

.form-area__button {
    width: 100%;
    padding: 10px;
    border: 1px solid #214BE0;
    border-radius: 5px;
    margin-bottom: 5vh;
    background: #214BE0;
    color: #FFFFFF;
}

.error {
    color: #F30100;
    padding-top: 5px;
}

.register__txt {
    font-size: 14px;
    color: #868484;
}

.register__txt-p {
    margin: 0 0 10px;
}

.register__txt-link {
    color: #214BE0;
}